<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lazy Panda</title>
</head>
<body>
<nav class="navbar bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="http://127.0.0.1:8000/">PandaShop</a>
    </div>
</nav>

<nav class="navbar bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="http://127.0.0.1:8000/customer">Customers List</a>
    </div>
</nav>

<!--
<nav class="navbar bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="http://127.0.0.1:8000/dprojectapp/update">Update Customer Info</a>
    </div>
</nav>
-->
<nav class="navbar bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="http://127.0.0.1:8000/add">New Customer</a>
    </div>
</nav>
<div class="container"></div>
    {% block content %}
    {% endblock %}
</div>
</div>
</body>
</html>