{% extends 'base.html' %}
{% block content %}
<h1>Products</h1>
<!--
<style>
    .cardsDiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }

</style>
-->
<style>
.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(16, 22, 16, 0.897);
}

.flex-container > div {
  background-color: #dce9ad;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
</style>

<div class="flex-container">
    {% for product in products %}
    <div class="card" style="width: 27rem;">
<!--        <img class="card-img-top" src="{{ product.image_url }}" alt="Card image cap" Style="width:95%"> -->
        <img class="card-img-top" src="{{ product.image_url }}" alt="Card image cap" Style="width:400px;height:400px;">
        <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">${{ product.price }}</p>
            <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
    </div>
     {% endfor %}
</div>


{% endblock %}
