<!--
<h1>Add member</h1>

<form action="addrecord/" method="post">
{% csrf_token %}
First Name:<br>
    <input name="first">
<br><br>
Last Name:<br>
    <input name="last">
<br><br>
Middle Name or Initial:<br>
    <input name="middle">
<br><br>
E-Mail:<br>
    <input name="email">
<br><br>
Street Address:<br>
<input name="address">
<br><br>
City:<br>
<input name="city">
<br><br>
State or Region:<br>
<input name="state-region">
<br><br>
Country:<br>
<input name="state-region">
<br><br>
<input type="submit" value="Submit">
</form>
-->
<h1>Add member</h1>

<form action="addrecord/" method="post">
{% csrf_token %}
First Name:<br>
<input name="first">
<br><br>
Last Name:<br>
<input name="last">
<br><br>
<input type="submit" value="Submit">
</form>