{% extends 'base.html' %}
{% block content %}
<h1>Members</h1>

<style>
.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: LightBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
</style>
<h1>Members</h1>

<table border="1">
{% for x in mymembers %}
<tr>
<td>{{ x.id }}</td>
<td>{{ x.firstname }}</td>
<td>{{ x.lastname }}</td>
</tr>
{% endfor %}
</table>
<!--
<div class="flex-container">
    {% for customer in customers %}
    <div class="card" style="width: 27rem;">
        <img class="card-img-top" src="{{ customer.avatar_url }}" alt="Card image cap" Style="width:95%">
        <div class="card-body">
            <h5 class="card-title">{{ customer.fname}} {{customer.lname }}</h5>
            <p class="card-text">
                {{ customer.email }}
                {{ customer.phone }}
            </p>
            <a href="http://127.0.0.1:8000/dprojectapp" class="btn btn-primary">CLOSE</a>
        </div>
    </div>
     {% endfor %}
</div>
-->

{% endblock %}

